.projectHeader{
    color: $mainColor;
    margin-top: 6rem;
    margin-bottom: 1rem;
    @media(min-width:1024px){
        font-size: 4rem;
}
}

.projectsDiv{
    margin: 0 3rem;
}

.projectdes{
    font-size: 1.2rem;
    text-align: center;
    @media(min-width:1024px){
        font-size: 1.4rem;
}
}

.projectWrap{
    width: 100%;
    height: 250px;
    perspective: 2000px;
    transform-style: preserve-3d; 
    transition: .5s;
    transform-origin: center;
    &:hover{
        transform: translate(0%) rotate(-5deg);
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background: tomato;
    }
    &:after{
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        top:0;
        right:-3px;
        background: tomato;
    }
    @media(max-width: 768px){
        margin: 4rem 0;
    }
}

.projectCover{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: top left;
    transition: 1s;
}

.projectWrap:hover .projectCover{
    transform: rotateX(125deg);
}


.details{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    position: relative;
    box-shadow: 0 0 5px 0 $colorGray;
    z-index: -1;
}

.imageProject{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.cover{
    position: absolute;
    z-index: 10;
    text-align:center;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background:white;
    color: $mainColor;
    padding: 1rem .5rem;
}

.coverTitle,
.skillsTitle{
    margin: 0;
    padding: 0;
}

.hoverImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $mainColor, $alpha: 0.9);
    opacity: 0;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
}

.projectsummery{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

.projectWrap:hover .hoverImage{
    opacity: 1;
}

.btnWrap{
    width: 40%;
}

.btn-live{
    width: 100%;
    background-color:$colorWhite;
    color: $colorBlack;
    border: none;
    display: block;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px $colorGray;
    transition: all .3s;
    text-align: center;
    &:hover{
        background-color: lighten($color: $colorBlack, $amount: 20%);
        color: $mainColor;
    }

}

.btn-github{
    width: 100%;
    background-color:$colorGray;
    color:$colorWhite;
    border: none;
    display: block;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px $colorGray;
    transition: all .3s;
    text-align: center;
    &:hover{
        background-color: lighten($color: $colorWhite, $amount: 20%);
        color: $mainColor;
    }

}

@media(min-width:768px){
    .projectList{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        grid-gap: 3rem 6rem;
    }
    .projectdes{
        margin-bottom: 2rem;
    }
    .imageProject{
        border-radius: 20px;
    }
}