.projectHeader{
    color: $mainColor;
    margin-top: 6rem;
    margin-bottom: 1rem;
    @media(min-width:1024px){
        font-size: 4rem;
}
}

.projectdes{
    font-size: 1.2rem;
    text-align: center;
    @media(min-width:1024px){
        font-size: 1.4rem;
}
}

.projectWrap{
    width: 95%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    background: orange;
    position: relative;
    box-shadow: 0 0 5px 0 $colorGray;
}

.imageProject{
    width: 100%;
    height: 100%;
}

.hoverImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $mainColor, $alpha: 0.8);
    opacity: 0;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
}

.projectsummery{
    color:$colorWhite;
    font-size: 1.2rem;
    text-align: center;
    text-shadow:  0 0 1px white;
}

.projectWrap:hover .hoverImage{
    opacity: 1;
}

.btnWrap{
    width: 40%;
}

.btn-live{
    width: 100%;
    background-color:$colorWhite;
    color: $colorBlack;
    border: none;
    display: block;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px $colorGray;
    transition: all .3s;
    text-align: center;
    &:hover{
        background-color: lighten($color: $colorBlack, $amount: 20%);
        color: $mainColor;
    }

}

.btn-github{
    width: 100%;
    background-color:$colorGray;
    color:$colorWhite;
    border: none;
    display: block;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 0 5px $colorGray;
    transition: all .3s;
    text-align: center;
    &:hover{
        background-color: lighten($color: $colorWhite, $amount: 20%);
        color: $mainColor;
    }

}

@media(min-width:768px){
    .projectList{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        grid-gap: 2rem 1rem;
    }
    .projectdes{
        margin-bottom: 2rem;
    }
    .imageProject{
        border-radius: 20px;
    }
}