.main-footer{
    height: 3rem;
    background: $mainColor;
    margin-top: auto;
    width: 100%;
}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    a{
        text-decoration: none;
        margin-right: 1rem;
        color: white;
        margin-top: .8rem;
        &:hover{
            color: black;
        }
    }
}