// Color Variables
$mainColor          : rgb(255,99,71);
$mainColorLighten   : lighten($mainColor,30%);
$colorWhite         : #fff;
$colorGray          : rgba(0,0,0,.6);
$colorBlack         : #000;





// Images Paths
$imgPath  : "../img";

// Fonts Paths
$fontPath : "../fonts";

// Fonts Paths
$svgPath : "../svg";


